﻿#LeftColumn {
    width: 600px;
    float: left;
    padding: 10px;
}

/* Microblog */

.MicroblogContainer {
    padding: 5px;
}

.MicroblogContainer .left {
    float: left;
    width: 60px;
}

.MicroblogContainer .left img {
    max-width: 60px;
    max-height: 100px;
}

.MicroblogContainer .right {
    padding-left: 10px;
    float: left;
    width: 520px;
}

.MicroblogContainer .right textarea {
    width: 508px;
    height: 60px;
}

.MicroblogContainer .right div.tools {
    text-align: right;
    width: 520px;
}

/* End Microblog */

/* Wall */

ul.threads {
    list-style: none;
    padding-left: 0;
}

ul.threads > li {
    margin-bottom: 20px;
}

ul.threads > li .left {
    float: left;
    width: 58px;
}

ul.threads > li .left > img {
    max-width: 48px;
}

ul.threads > li .right {
    float: left;
    width: 542px;
}

ul.threads > li .right .created {
    float: left;
}

ul.threads > li .right .tools {
    float: left;
}

ul.threads > li .right .tools a {
    padding-left: 20px;
}

ul.attachments {
    list-style: none;
    padding: 0;
}

ul.attachments img {
    max-height: 80px;
}

ul.attachments li {
    float: left;
    margin: 3px;
}

ul.replies {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
    padding-left: 0px;
}

ul.replies > li {
}

ul.replies > li .left {
    width: 46px;
    float: left;
}

ul.replies > li .left > img {
    width: 36px;
}

ul.replies > li .right {
    width: 496px;
    float: left;
}

div.replyButton textarea {
    width: 402px;
}

/* End Wall */

#RightColumn {
    width:250px;
    float: left;
}

ul.notifications {
    padding: 0;
    list-style: none;
}

ul.notifications div.left {
    float: left;
    width: 42px;
}


ul.notifications div.right {
    float: left;
    width: 150px;
}

ul.notifications div.left > img {
    width: 42px;
}

div.contributors {
    padding-left: 40px;
}

ul.contributors {
    list-style: none;
    padding: 0;
}

ul.contributors li {
    float: left;
    margin: 3px;
}

ul.contributors > li {
    float: left;
    margin: 3px;
    padding-top: 0;
    left: 48px;
    position: relative;
}

ul.contributors > li + li {
    float: left;
    margin: 3px;
    padding-top: 15px;
    left: -48px;
    position: relative;
}

ul.contributors > li + li + li {
    float: left;
    margin: 3px;
    padding-top: 30px;
    left: 0;
    position: relative;
}

ul.contributors li > img {
    height: 42px;
}

ul.contributors li > div {
    text-align: center;
}

ul.missions {
    padding: 0;
    list-style: none;
}

.finished {
    text-decoration: line-through;
}

.clearer {
    clear: both;
}