﻿ul.threads {
    list-style: none;
}

li.thread img.owner {
    width: 42px;
}

li.reply img.owner {
    width: 30px;
}

li.thread > div.left {
    float: left;
    width: 60px;
}

li.thread > div.right {
    float: left;
        width: 60px;
}

li.reply > div.left {
    width: 400px;
    float: left;

}

li.reply > div.right {
    float: left;
}

ul.replies {
        list-style: none;
}

.clearer {
    clear: both;
}

#LeftColumn {
    width: 600px;
    float: left;
}

#RightColumn {
    width: 200px;
    float: left;
}

.attachments ul {
    list-style: none;
}

.attachments li {
    float: left;
}

.attachments img {
    max-height: 90px;
}

.fancybox-nav {
    width: 60px;       
}

.fancybox-nav span {
    visibility: visible;
    opacity: 0.5;
}

/* Enhanced look & feel */

div.MicroblogContainer {
    margin-left: 50px;
    width: 550px;
}

div.MicroblogContainer .left {
    float: left;
    width: 60px;
}

div.MicroblogContainer .right {
    float: left;
    width: 490px;
}

div.MicroblogContainer .left img {
    border: 3px solid #ccc;
    background: #fff;
    display:block;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
}

div.MicroblogContainer textarea {
    width: 470px;
    height: 50px;
}

div.MicroblogContainer input {
    float: right;
    margin-right: 8px;
    background-color: aquamarine;
}

img.owner {
    border: 3px solid #ccc;
    background: #fff;
    display:block;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
}

li.thread {
    font-family: 'Segoe UI';
}

li.thread .name {
    font-weight: bold;
    font-size: 15px;
}

div.text {
    font-style: italic;
}

li.thread .text {
    padding: 5px 0;
}

li.thread div.right > .created {
    text-align: right;
}

li.thread > div.right {
    left: 40px;
    top: -30px;
    width: 500px;
    float: none;
    background-color: #eee;
    position: relative;
    padding: 10px;

        border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;

    z-index: 2;
}

li.reply > div.left {
    left: 30px;
    width: 470px;
    background-color: #eee;
    position: relative;
    float: none;
    padding: 10px;

        border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;

    z-index: 2;
}

li.reply > div.right {
    float: none;
    position: relative;
    top: -100px;
    left: 500px;
            z-index: 3;
}

li.thread > div.left {
    position: relative;
        z-index: 3;
    float: none;
}